doctype html
html
    head
        title="SeaFour - Highly Explosive"

        meta( charset="UTF-8" )

        meta( name="keywords"
            content="chat,webchat,irc,technology,programming,social,cute,kawaii,desu,senpai" )

        meta( name="description"
            content="Get ready for the future of social metacommunication. \
                    Social metacommunication? What's that even mean?" )

        meta( name="author"
            content="Landon Powell" )

        link( rel="stylesheet"      href="css/lightChat.css"         )
        link( rel="stylesheet"      href="css/fonts.css"             )
        link( rel="shortcut icon"   href="css/images/iconPurple.png" )

        link( rel="stylesheet" href="css/views/landingPage.css" )

    body
        #top
            h1="What is SeaFour?"

            .explanation.
                SeaFour is a freedom-oriented chat 
                protocol implemented in websockets, as well as a group of 
                related projects. It includes a a multitude of security features, 
                such as an asymmetric cryptographic login system, which disallows 
                malicious moderators from seeing your password, as well as hosting
                of your Public and Private ECC keys. Related projects include a
                web-client hosted on this domain, and a full-featured Android client. 

            #buttons
                a#trybutton( href="/=main" )
                    span="Try it Online Now!"

                a.button( href="https://github.com/LandonPowell/SeaFour" )
                    img( src="css/images/github.png" )
                    span="Source Code"
                a.button( href="https://github.com/LandonPowell/SeaFour-Mobile" )
                    img( src="css/images/github.png" )
                    span="Mobile Source"

                a#rooms( href="/leaderboard" )
                    span="Most Popular Rooms"
