doctype html
html
    head
        title= 'SeaFour : ' + user
    body
        h1= user
        #details
            #flair.detail
                .title= 'Flair'
                .value= flair

            #role.detail
                .title= 'Role'
                .value= role

            #bio.detail
                .title= 'Bio'
                .value= bio
