doctype html
html
    head
        title= 'SeaFour : ' + user

        script( src="js/parser.js" )
        script( src="js/jquery.js" )

        link( rel="stylesheet"      href="css/chat.css"              )
        link( rel="stylesheet"      href="css/fonts.css"             )
        link( rel="shortcut icon"   href="css/images/iconPurple.png" )

        link( rel="stylesheet"      href="css/userPage.css"          )

    body
        h1= user
        #details
            #flair.detail
                .title= 'Flair'
                .value= flair

            #role.detail
                .title= 'Role'
                .value= role

            #website.detail
                .title= 'Website'
                .value= website

            #bio.detail
                .title= 'Bio'
                .value= bio
        script.
            // This script sanitizes and stylizes the user's fields.
            $("h1").html(  
                flairify( $("h1").html(), $("#flair .value").html() )  
            )

            $("#flair .value").html(
                parser.htmlEscape( $("#flair .value").html() )
            )

            $("#website .value").html(
                parser.style(parser.htmlEscape(
                    $("#website .value").html()
                ))
            )
            $("#bio .value").html(
                parser.style(parser.htmlEscape(
                    $("#bio .value").html()
                ))
            )            