doctype html
html
    head
        title= 'SeaFour : ' + user

        script( src="js/parser.js" )
        script( src="js/jquery.js" )

        link( rel="stylesheet"      href="css/lightChat.css"         )
        link( rel="stylesheet"      href="css/fonts.css"             )
        link( rel="shortcut icon"   href="css/images/iconPurple.png" )

        link( rel="stylesheet"      href="css/views/userPage.css"    )

    body
        h1= user
        #details
            #flair.detail
                .title= 'Flair'
                .value= flair

            #role.detail
                .title= 'Role'
                .value= role

            #website.detail
                .title= 'Website'
                .value= website

            #bio.detail
                .title= 'Bio'
                .value= bio

            #renown.detail
                .title= 'Renown'
                .value= renown

        script.
            // This script stylizes the user's fields.

            $("h1").html(
                flairify( $("h1").html(), $("#flair .value").html() )  
            )

            $("#website .value").html(
                parser.style( $("#website .value").html() )
            )

            $("#bio .value").html(
                parser.style( $("#bio .value").html() )
            )