doctype html
html
    head
        title= 'SeaFour : ' + user
        link( rel="stylesheet"      href="css/userPage.css" )
        link( rel="shortcut icon"   href="css/images/iconPurple.png" )
    body
        h1= user
        #details
            #flair.detail
                .title= 'Flair'
                .value= flair

            #role.detail
                .title= 'Role'
                .value= role

            #bio.detail
                .title= 'Bio'
                .value= bio
